%html
  %head
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/app.css"}
    %title p&p People and Pets
  %body
    .count
      %span{:id => "peopleCount"} 0 
      %span People
    .file-submit
      %input{:id => "fileInput", :type => "file", :name => "csv", :placeholder => "my-file.csv", :class => "text"}
      %label{:id => "import"} Import a file
      %div{:href => "#", :id => "fileSelect"} my-file.csv
      %div{:href => "#", :id => "browse"} Browse
    %table(data-sortable id="people" cellspacing="0")
      %thead.header
        %tr
          %th
            Last name
          %th
            First name
          %th
            Middle Initial
          %th
            Pet
          %th(data-sortable-type="date")
            Birthday
          %th
            Favorite color
      %tbody{:id => "people-body"}
  %script(src="/js/all.min.js")